.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px; /* Más espacio */
    width: 400px; /* Aumenta el ancho */
    border-radius: 15px; /* Bordes redondeados */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    h1 {
      margin-bottom: 30px; /* Más separación del título */
      text-align: center;
    }
  }
}